.start-screen {
	/* Default Start Screen styles */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: /*#222 */url("./backgr.jpg") center no-repeat;
	// color: whitesmoke;

	&__heading {
		h1 {
			margin: 0 0 $unit * 3;
			font-size: 3.2rem;
			color: gold;
		}
	}

	&__menu {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				& ~ li {
					margin-top: $unit;
				}
			}
		}
	}
}

.difflvlstext {
	margin-bottom: 1rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
}
