.app {
	padding: $unit * 2.5;
	text-align: center;
	background: url("lvl-backgr.jpg") top no-repeat;
	height: 100%;
	// background-size: cover;
	
	.level {
		margin-bottom: $unit * 2;
	}

	/* Mobile styles */
	@media(max-width: 639px) {
		padding: $unit * 2;
	}
}
